@font-face {
  font-family: "open_sansregular";
  src: url("./fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font sizes: */
  --input-note: 1.3rem;
  --description: 1.7rem;
  --temperature: 3rem;
  --header: 2.9rem;
  --search: 1.9rem;

  /* Colors: */
  --days-background: rgb(159, 212, 212);
  --search-background: rgb(255, 255, 255);
  --selected-background: rgb(223, 194, 156);
  --container-background: rgb(50, 73, 88);
  --input-background: rgb(70, 94, 110);
  --body-background: rgb(54, 104, 138);
  --main-background: rgb(131, 217, 217);
  --secondary: rgb(232, 99, 9);
  --header-font: rgb(204, 87, 10);
  --font: rgb(40, 64, 79);
  --light-font: rgb(71, 68, 68);
}

.hidden {
  display: none;
}

body {
  font-family: 'open_sansregular', sans-serif;
  color: var(--font);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background);
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--container-background);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 34vw;
  max-height: 100vh;
}

search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--search-background);
  padding: 10px;
  border-radius: 10px;
  color: var(--light-font);
  width: 100%;
  font-size: var(--search);
}

#search-btn {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--secondary);
  color: white;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--description);
}

#search-btn:hover, #search-btn:active {
  filter: brightness(92%);
}

#search-btn:active {
  transform: scale(0.95);
}

input {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--input-background);
  color: white;
  padding: 5px;
  grid-column: 1 / 2;
  margin-right: 5px;
  min-width: 100%;
}

input:focus, input:active {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-wrapper > div:first-child {
  width: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: max(1px, 1.5vw);
}

#first-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#second-wrapper {
  font-size: var(--search);
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left;
  justify-content: center;
}

#description {
  color: var(--secondary);
  font-size: var(--description);
  text-align: left;
  font-weight: bold;
}

#temperature {
  font-size: var(--temperature);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.note {
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 5px 5px;
  font-size: var(--input-note);
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 1  / 2;
}

.note.active {
  padding: 5px;
}

.form-wrapper {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: max-content auto;
  width: 100%;
  max-width: 100%;
  column-gap: 5px;
}

h2 {
  font-weight: bold;
  color: var(--font);
  font-size: var(--header);
  align-self: flex-start;
}

#days-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));;
  grid-auto-rows: min-content;
  margin-top: -10px;
  width: 100%;
  overflow-y: auto;
  max-height: 50vh;
}

.day-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--days-background);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  font-size: var(--search);
}

.day-wrapper img {
  max-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
}

#days-container > button {
  padding: 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

article img {
  max-width: 60px;
  max-height: 60px;
  width: 60px;
  height: 60px;
}

.text-wrapper {
  display: flex;
  gap: 8px;
}

.temp-min {
  color: var(--light-font);
}

.main-temperature {
  display: inline-block;
  margin-right: 5px;
}

.fahrenheit, 
.celsius {
  color: var(--light-font);
  cursor: pointer;
}

.celsius-temperature,
.fahrenheit-temperature {
  margin-right: 7px;
}

.on {
  color: var(--secondary);
}

.divider {
  display: inline-block;
  transform: translateY(-2.5px);
}

.selected {
  filter: brightness(120%);
}

.selected-title {
  color: var(--secondary);
}