:root {
  /* Font sizes: */
  --input-note: 1.1rem;
}

.note {
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 5px 5px;
  width: 100%;
  font-size: var(--input-note);
  text-align: center;
}

.note.active {
  padding: 5px;
}

.input-wrapper {
  display: flex;
  gap: 5px;
}

.input-wrapper > div {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: normal;
}

h2 > span {
  font-weight: bold;
}